<div class="w3-display-left">
  <h1 class="w3-xl"><b>&nbsp;&nbsp;&nbsp;&nbsp;daily reading //</b></h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">
</div>


<div class="w3-display-middle">
  <%@daily = current_user.teachings.sample%>
  <%=@daily.teacher.name%> // <%=@daily.name%>
  <p><%=@daily.content%></p>
