<div class="w3-display-left">
  <h1 class="w3-xl"><b>&nbsp;&nbsp;&nbsp;&nbsp;create a teacher //</b></h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">
</div>

<div class="w3-display-middle">
  <%= form_for @teacher do |f| %>
  <%= f.label :name, 'Teacher Name' %> <br>
  <%= f.text_field :name %>
  <%= f.submit %>
  <% end %>
</div>
