<div class="w3-display-middle">
<h1 class="w3-jumbo w3-center">Create a New Teacher</h1>
  <%= form_for @teacher do |f| %>
  <%= f.label :name, 'Teacher Name' %> <br>
  <%= f.text_field :name %>
  <%= f.submit %>
  <% end %>
</div>
