<div class="w3-display-left">
  <h1 class="w3-xl"><b>&nbsp;&nbsp;&nbsp;&nbsp;teachers //</b></h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">
</div>

<div class="w3-display-middle">
  <% current_user.teachers.each do |teacher| %>
    <p>// <a href="/teachers/<%=teacher.id%>"><%=teacher.name.capitalize%></a></p>
  <% end %>

  <%= link_to('Create a new teacher.',{:controller => 'teachers',:action => 'new'})%>
