<div class="w3-display-left">
  <h1 class="w3-xl"><b>&nbsp;&nbsp;&nbsp;&nbsp;teacher //</b></h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">
</div>

<div class="w3-display-middle">
  <p><b>You've learned the most from </b><%= @most_common%>.</p>
  <p>Make sure to say <b>thanks.</b>
