
<div class="w3-display-topmiddle">
  <h1 class="w3-xl"><b>teachers</b></h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">

  <p>Teacher: <%=@teacher.name %></p>
  <p>Teachings of this teacher:<p>
  <p>1</p>
  <p>2</p>
  <p>3</p>
  <p>// <a href="/teachings/new"><%="Record a Teaching that you want to remember."%></a></p>
